<div class="row">
  <div class="col-12">
    <p class="text-center project-title"> List Of Employee & Project</p>
  </div>
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-3">
    <span> <strong> Please Enter Project Name </strong></span>
  </div>
  <div class="col-3">
    <input type="text" [(ngModel)]="searchWord">
  </div>
  <div class="col-3"></div>
</div>

<div class="row mt-3">
  <div class="col-3"></div>
  <div class="col-6">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Employee Name</th>
          <th>Project Name</th>
        </tr>
      </thead>
      <ng-container *ngFor="let department of departmentData">
        <ng-container *ngFor="let projecthd of department.projectHead">
          <tbody>
            <ng-container *ngFor="let emp of projecthd.employee">
              <tr *ngFor="let emp_project of emp.projectAssign | projectFilter : searchWord">

                <td>{{ emp.employeeName }}</td>
                <td>{{ emp_project.projectName }}</td>
              </tr>
            </ng-container>
          </tbody>
        </ng-container>
      </ng-container>
    </table>
  </div>
  <div class="col-3"></div>
</div>